<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Church Admin-By Blue IT Marketing Pty LTD</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="google-site-verification" content="9CMRMPTCzEL_nLA_deGGFCsKSouKDl_6D_MVBqp5Y-g" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
   <div id="MainHeaderDiv"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div id="SideBarDiv"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Church Administration
        <small>Church Administration App</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Home</li>
      </ol>
      <div id="ourmanna-verse">Loading...</div>
      <script src="http://www.ourmanna.com/verses/api/js/" type="text/javascript"></script>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-3">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title">Event Manager</h3>
                    <input type="hidden" class="hidden" id="strEventID" value="{{ thisEvent.strEventID }}">
                </div>
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="../../../static/dist/img/events.png" alt="Church Admin Events">
                  <h3 class="profile-username text-center">{{ thisEvent.strEventName }}</h3>
                  <p class="text-muted text-center">{{ thisEvent.strEventType }}</p>
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Shares</b> <a class="pull-right">{{ thisEvent.strShares }}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Likes</b> <a class="pull-right">{{ thisEvent.strLikes }}</a>
                    </li>
                  </ul>

                <a href="/events" type="button" class="btn btn-info btn-block margin-bottom"><strong> Events Home </strong></a>
                <button type="button" class="btn btn-primary btn-block" id="RegisteredManagerButt"><strong> Registered Attendees </strong></button>
                <button type="button" class="btn btn-primary btn-block" id="EventSpeakersButt"><strong> Speakers </strong></button>
                <button type="button" class="btn btn-primary btn-block" id="EventSponsorsButt"><strong> Sponsors </strong></button>
                <button type="button" class="btn btn-primary btn-block margin-bottom" id="EventExhibitorsButt"><strong> Exhibitors </strong></button>

                <button type="button" class="btn btn-primary btn-block margin-bottom" id="EventAccomodationsButt"><strong> Accomodations </strong></button>

                <button type="button" class="btn btn-primary btn-block" id="EventAgendasButt"><strong> Agendas </strong></button>
                <button type="button" class="btn btn-primary btn-block" id="EventSurveysButt"><strong> Surveys </strong></button>
                <button type="button" class="btn btn-primary btn-block margin-bottom" id="EventNotesButt"><strong> Notes </strong></button>

                <button type="button" class="btn btn-primary btn-block" id="EventMarketingCampaignButt"><strong> Marketing Campaigns </strong></button>
                <button type="button" class="btn btn-primary btn-block" id="MessagingButt"><strong> Messaging</strong></button>
                </div>

            </div>
          </div>
          <div class="col-md-9">

              <div id="EventManagerINFDIV"></div>

          </div>

      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
 <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/dist/js/pages/admin/events/manage.js"></script>
<script type="text/javascript">$(document).ready(function(){$('#MainHeaderDiv').load("/navigation/header")});</script>
<script type="text/javascript">$(document).ready(function(){$('#SideBarDiv').load("/navigation/sidebar")});</script>
<script type="text/javascript">$(document).ready(function(){$('#FooterDiv').load("/navigation/footer")});</script>
</body>
</html>
