<div class="row">
      <div class="col-md-3">

          <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Dashboard</h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#" id="AccountButt"><i class="fa fa-inbox"></i> Account<span class="label label-primary pull-right"></span></a></li>
              <li><a href="#" id="ReportsButt"><i class="fa fa-file"> </i> Reports </a> </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Groups</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#" id="GroupsButt"><i class="fa fa-inbox"></i> SMS Groups<span class="label label-primary pull-right"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- /.box -->

      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div id="MySMSINFDIV">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title">Bulk SMS Module</h3>
                </div>
                <div class="box box-footer with-border">
                    <p>Our Bulk SMS Module allows you or your Church to send Bulk SMS to your congregants.</p>
                    <p>The Module works by allowing you to create Groups where you can configure your SMS and the numbers
                    that belong inside the group, once all is correct you can then either create a schedule for your SMS
                    Message which will allow the Message to Auto Send later or you can send the message right away by using the
                    Send Now Button.</p>
                    <br>
                    <h3>SMS Module Limitations</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><h4>Character Length</h4><p>All SMS Messages are currently limited by the 150 standard character length for SMS messages, this means that
                            you currently cannot send SMS messages exceeding 150 Characters</p></li>
                        <li class="list-group-item"><h4>SMS Credits</h4><p>Although you are given complimentary credits this is just to allow you
                            to get the idea of how our Bulk SMS Module works, after that you are expected to purchase your own Bulk Messages through the
                            Account folder, found right at the top of this page. Purchasing bulk credits allows you to continue using the SMS Module at your own cost.
                        </p>

                        </li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
<script src="/static/dist/js/pages/admin/sms/sms.js"></script>