
<footer class="main-footer">

    <div class="pull-right hidden-xs">
      <b>Church </b> <a href="#">Administrator</a>
    </div>
    <strong>Copyright &copy; 2012-2017 <a href="http://blueitmarketing.co.za">Blue IT Marketing Pty LTD</a>.</strong> All rights
    reserved.
</footer>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/598c1c63dbb01a218b4dbab0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

