<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title">Email List</h3>
    </div>

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#EmailList" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-th-list"> </i> Email List</button></a></li>
            <li><a href="#AddList" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-export"> </i> Add Contacts </button> </a> </li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="EmailList">
                <table id="ContactListTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Names</td>
                            <td>Surname</td>
                            <td>Cell</td>
                            <td>Email</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for thisAddress in thisAddressList %}
                        <tr>
                            <td>{{ thisAddress.strNames }}</td>
                            <td>{{ thisAddress.strSurname }}</td>
                            <td>{{ thisAddress.strCell }}</td>
                            <td>{{ thisAddress.strEmail }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Names</td>
                            <td>Surname</td>
                            <td>Cell</td>
                            <td>Email</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane" id="AddList">
                <div class="box box-body with-border">
                    <div class="box box-header with-border">
                        <h3 class="box-title">Add Email List Contacts</h3>
                    </div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="strNames" class="col-sm-3 control-label pull-left">Names</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"> </i>
                                    </div>
                                    <input type="text" class="form-control" id="strNames">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="strSurname" class="col-sm-3 control-label pull-left">Surname</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"> </i>
                                    </div>
                                    <input type="text" class="form-control" id="strSurname">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="strCell" class="col-sm-3 control-label pull-left">Cell</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-phone"> </i>
                                    </div>
                                    <input type="text" class="form-control" id="strCell">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="strEmail" class="col-sm-3 control-label pull-left">Email</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"> </i>
                                    </div>
                                    <input type="text" class="form-control" id="strEmail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label pull-left"></label>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary btn-block" id="UploadContactButt"><strong> <i class="fa fa-cloud"> </i> Upload Contact </strong></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label pull-left"></label>
                            <div class="col-sm-6">
                                <div id="UploadContactINFDIV"></div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/dist/js/pages/admin/newsletters/contacts.js"></script>
<script>$(function () {$('#ContactListTable').DataTable({"paging": true, "lengthChange": true, "searching": true, "ordering": true, "info": true, "autoWidth": true});});</script>

