


<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title">Meetings</h3>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#PreviousMeetingMinutes" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-book"> </i> Historical Meeting Minutes</button></a></li>
            <li><a href="#PreviousMeetingAgendas" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-export"> </i> Historical Meeting Agendas </button> </a> </li>
            <li><a href="#CreateMinutes" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-export"> </i> Create Minutes </button> </a> </li>
            <li><a href="#CreateAgenda" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-export"> </i> Create Agenda </button> </a> </li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="PreviousMeetingMinutes">
            </div>
            <div class="tab-pane" id="PreviousMeetingAgendas">
            </div>
            <div class="tab-pane" id="CreateMinutes">
            </div>
            <div class="tab-pane" id="CreateAgenda">
            </div>
        </div>
    </div>

</div>