<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title">Meeting Agenda</h3>
        <input type="hidden" class="hidden" id="strMeetingID" value="{{ thisAgenda.strMeetingID }}">
    </div>

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Agenda" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-pencil"> </i> Agenda</button></a></li>
            <li><a href="#ManageItems" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-pencil"> </i> Manage Items</button> </a> </li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="Agenda">
                <div class="box box-body with-border">
                    <div class="box box-header with-border">
                        <h3 class="box-title">Agenda</h3>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="strAgendaTitle" class="col-sm-3 control-label pull-left">Agenda Title</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-pushpin"> </i>
                                    </div>
                                    <input type="text" class="form-control" id="strAgendaTitle" value="{{ thisAgenda.strAgendaTitle }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label pull-left"></label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="glyphicon glyphicon-pencil"> </i>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-block" id="UpdateAgendaTitleButt"><strong><i class="glyphicon glyphicon-pencil"> </i> Update Agenda Title </strong></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label pull-left"></label>
                            <div class="col-sm-6">
                                <div id="UpdateAgendaTitleINFDIV"></div>
                            </div>
                        </div>
                    </form>
                    <table id="AgendaTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Item Name</td>
                                <td>Notes</td>
                                <td>From</td>
                                <td>To</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for thisItems in thisAgendaItemsList %}
                            <tr>
                                <td>{{ thisItems.strItemName }}</td>
                                <td>{{ thisItems.strNotes }}</td>
                                <td>{{ thisItems.strFromTime }}</td>
                                <td>{{ thisItems.strToTime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Item Name</td>
                                <td>Notes</td>
                                <td>From</td>
                                <td>To</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
            <div class="tab-pane" id="ManageItems">
                <div class="box box-body with-border">
                    <div class="box box-header with-border">
                        <h3 class="box-title">Manage Agenda Items</h3>
                    </div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#AddAgendaItems" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-pencil"> </i> Add Agenda Items</button></a></li>
                            <li><a href="#RemoveAgendaItems" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="glyphicon glyphicon-pencil"> </i> Remove Agenda Items</button> </a> </li>
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="AddAgendaItems">
                                <div class="box box-body with-border">
                                    <div class="box box-header with-border">
                                        <h3 class="box-title">Add Agenda Items</h3>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="strItemName" class="col-sm-3 control-label pull-left">Item Name</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-pushpin"> </i>
                                                    </div>
                                                    <input type="text" class="form-control" id="strItemName" name="vstrItemName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="strNotes" class="col-sm-3 control-label pull-left">Notes</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-comment"> </i>
                                                    </div>
                                                    <textarea id="strNotes" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="strFromTime" class="col-sm-3 control-label pull-left">From </label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-time"> </i>
                                                    </div>
                                                    <input type="text" class="form-control" id="strFromTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="strToTime" class="col-sm-3 control-label pull-left">To </label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-time"> </i>
                                                    </div>
                                                    <input type="text" class="form-control" id="strToTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label pull-left"></label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-cloud"> </i>
                                                    </div>
                                                    <button type="button" class="btn btn-primary btn-block" id="UploadAgendaItemsButt"><strong>Upload Agenda Items</strong></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label pull-left"></label>
                                            <div class="col-sm-6">
                                                <div id="AgendaItemsINFDIV"></div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="RemoveAgendaItems">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/dist/js/pages/admin/meetings/agenda.js"></script>
